 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center amber-text">Tweet Tweet</h1> -->
      <!-- <div class="row center"> -->
        <!-- <h5 class="header col s12 light">Do we want to say anything here?</h5> -->
      <!-- </div> -->
      <div class="row">
        <div class= "col s7 cyan darken-2" id="quote-block">
          <h3 class="white-text landing-quote">Providing a digestable summary of your twitter mentions.</h3>
        </div>
      </div>
      <br>
      <br>
       <!-- <div class="row">
         <div class= "col s3 cyan">
           <h6 class="white-text landing-quote">How it works:</h6>
         </div>
       </div> -->

      
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header cyan darken-1 white-text"><i class="mdi-action-search"></i>Quick Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Enter a keyword or twitter handle and get a fast analysis of what people are saying.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-2 white-text"><i class="mdi-content-content-paste"></i>Save a Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Save a search, and receive a daily email digest with a full analysis.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-3 white-text"><i class="mdi-action-trending-up"></i>Track Trends Over Time</div>
          <div class="collapsible-body cyan lighten-4"><p>Check your dashboard to see how a saved search is trending over time.</p></div>
        </li>
      </ul>

    </div>
  </div>



 

  </div>
