<body id="landing-background">
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center black-text text-darken-2">tweetsum</h1>
      <div class="row center">
        <h5 class="header col s12 landing-quote cyan-text text-darken-3">Providing a scheduled summary of your twitter sentiment.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("throttle.png", alt: "Unsplashed background img 1") %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-action-search"></i></h2>
          <h5 class="center cyan-text text-darken-2">Quick Search</h5>

          <p class="light">Enter a keyword or twitter handle and get a fast summary of what people are saying.</p> </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-content-content-paste"></i></h2>
          <h5 class="center cyan-text text-darken-2">Analyze</h5>

          <p class="center black-text">Utilize Natural Language Processing to analyze and rate an overall sentiment for your searches</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-action-trending-up"></i></h2>
          <h5 class="center cyan-text text-darken-2">Track Trends</h5>

          <p class="center black-text text-darken-2">Schedule an automated email to track how a saved search is trending over time.</p>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container">
  <div class="section">


  </div>
</div>


<!-- old -->
<!--  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header cyan darken-1 white-text"><i class="mdi-action-search"></i>Quick Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Enter a keyword or twitter handle and get a fast analysis of what people are saying.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-2 white-text"><i class="mdi-content-content-paste"></i>Save a Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Save a search, and receive a daily email digest with a full analysis.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-3 white-text"><i class="mdi-action-trending-up"></i>Track Trends Over Time</div>
          <div class="collapsible-body cyan lighten-4"><p>Check your dashboard to see how a saved search is trending over time.</p></div>
        </li>
      </ul>

    </div>
  </div>
 -->
</body>

<%= render :partial => 'layouts/footer.html.erb' %>
