<body id="landing-background">
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">tweetsum</h1>
      <div class="row center">
        <h5 class="header col s12 light landing-quote">Providing a digestable summary of your twitter mentions.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("throttle.png", alt: "Unsplashed background img 1") %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Quick Search</h5>

          <p class="light">Enter a keyword or twitter handle and get a fast analysis of what people are saying.</p> </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-favorite-outline"></i></h2>
          <h5 class="center">Save a Search</h5>

          <p class="light"> Save a search, and receive a daily email digest with a full analysis.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-public"></i></h2>
          <h5 class="center">Track Trends Over Time</h5>

          <p class="light">Check your dashboard to see how a saved search is trending over time.</p>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container">
  <div class="section">


  </div>
</div>


<!-- old -->
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header cyan darken-1 white-text"><i class="mdi-action-search"></i>Quick Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Enter a keyword or twitter handle and get a fast analysis of what people are saying.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-2 white-text"><i class="mdi-content-content-paste"></i>Save a Search</div>
          <div class="collapsible-body cyan lighten-4"><p>Save a search, and receive a daily email digest with a full analysis.</p></div>
        </li>
        <li>
          <div class="collapsible-header cyan darken-3 white-text"><i class="mdi-action-trending-up"></i>Track Trends Over Time</div>
          <div class="collapsible-body cyan lighten-4"><p>Check your dashboard to see how a saved search is trending over time.</p></div>
        </li>
      </ul>

    </div>
  </div>

</body>

<%= render :partial => 'layouts/footer.html.erb' %>
