{"http_interactions":[{"request":{"method":"post","uri":"https://api.aylien.com/api/v1/sentiment","body":{"encoding":"US-ASCII","string":"text=RT+%40cutestpetpage%3A+Cute+lab+puppies%21+http%3A%2F%2Ft.co%2Fy0yUW3nkR6"},"headers":{"X-Aylien-Textapi-Application-Id":["068a00fb"], "X-Aylien-Textapi-Application-Key":["cf96f1e918b97ce14369f17820d37fcb"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"polarity\": \"positive\",\n  \"subjectivity\": \"objective\",\n  \"text\": \"RT @cutestpetpage: Cute lab puppies! http://t.co/y0yUW3nkR6\",\n  \"polarity_confidence\": 0.8571428571428572,\n  \"subjectivity_confidence\": 0.9613029740315859\n}"},"http_version":null},"recorded_at":"Thu, 11 Jun 2015 03:04:51 GMT"},{"request":{"method":"post","uri":"https://api.aylien.com/api/v1/sentiment","body":{"encoding":"US-ASCII","string":"text=RT+%40cutestpetpage%3A+Cute+lab+puppies%21+http%3A%2F%2Ft.co%2Fy0yUW3nkR6"},"headers":{"X-Aylien-Textapi-Application-Id":["068a00fb"], "X-Aylien-Textapi-Application-Key":["cf96f1e918b97ce14369f17820d37fcb"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Ratelimit-Limit":["1000"], "X-Ratelimit-Remaining":["1000"], "X-Ratelimit-Reset":["1434067200"]},"body":{"encoding":"UTF-8","string":"{\n  \"polarity\": \"positive\",\n  \"subjectivity\": \"objective\",\n  \"text\": \"RT @cutestpetpage: Cute lab puppies! http://t.co/y0yUW3nkR6\",\n  \"polarity_confidence\": 0.8571428571428572,\n  \"subjectivity_confidence\": 0.9613029740315859\n}"},"http_version":null},"recorded_at":"Thu, 11 Jun 2015 03:04:51 GMT"}],"recorded_with":"VCR 2.9.3"}