{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=100\u0026lang=en\u0026q=puppies","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"XogOCF1AITFjL7ly5gZ49G5qC\", oauth_nonce=\"268cbf1408926f1c5f6c9881c55138e1\", oauth_signature=\"YRTztdGGhRW8EAObwGAPweyXjA4%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1433991252\", oauth_token=\"236652351-5wWHSkTdtAaJUZmMPpNuc8Zx1cYldwjpeN2lvIQ8\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 11 Jun 2015 02:54:13 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["5206086aed602dc5c217a129f3f9f647"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["179"], "X-Rate-Limit-Reset":["1433992152"], "X-Response-Time":["311"], "X-Transaction":["f854444e69f06d57"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"{\"statuses\":[{\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"created_at\":\"Thu Jun 11 02:53:41 +0000 2015\",\"id\":608829426994810880,\"id_str\":\"608829426994810880\",\"text\":\"RT @cutestpetpage: Cute lab puppies! http:\\/\\/t.co\\/y0yUW3nkR6\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/iphone\\\" rel=\\\"nofollow\\\"\\u003eTwitter for iPhone\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":1665661902,\"id_str\":\"1665661902\",\"name\":\"mack attack\\u2716\\ufe0f\",\"screen_name\":\"MacKaylaanne_\",\"location\":\"\",\"description\":\"look at my freckle line\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":540,\"friends_count\":1259,\"listed_count\":1,\"created_at\":\"Mon Aug 12 18:10:07 +0000 2013\",\"favourites_count\":4436,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":4909,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"131516\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/573306300953600000\\/46N3QuSy.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/573306300953600000\\/46N3QuSy.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/606326524531245056\\/8ru7ehka_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/606326524531245056\\/8ru7ehka_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/1665661902\\/1432446015\",\"profile_link_color\":\"00FFFF\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"created_at\":\"Wed Jun 10 19:40:28 +0000 2015\",\"id\":608720402370711553,\"id_str\":\"608720402370711553\",\"text\":\"Cute lab puppies! http:\\/\\/t.co\\/y0yUW3nkR6\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":nu[...]
