<div class="row">
  <div class="col s5">
    <p>Please enter your email information</p>
  </div>
</div>
<div class="row">
  <div class="col s6 offset-s1">
    <%= form_for current_user do |f| %>
    <i class="mdi-communication-email prefix"></i>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit "Update Email", class: "btn" %>
    <% end %>
  </div>
</div>