
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center amber-text">Tweet Tweet</h1> -->
      <!-- <div class="row center"> -->
        <!-- <h5 class="header col s12 light">Do we want to say anything here?</h5> -->
      <!-- </div> -->
      <form>
        <div class="input-field">
          <input placeholder="Search" id="search" type="search" required>
          <label for="search"><i class="mdi-action-search yellow-text"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal darken-2">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text text-darken-3"><i class="mdi-social-group"></i></h2>
          <h5 class="center yellow-text text-lighten-2">Obi-Wan Never Told You</h5>

          <p class="light yellow-text text-lighten-4">Jedi master bantha these aren't the droids you're looking for. Aren't you a little short for a stormtrooper tractor beam galactic republic. The empire strikes back fully operational battle station there is no try I'm here to rescue you. .</p> </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-darken-4"><i class="mdi-action-favorite-outline"></i></h2>
          <h5 class="center yellow-text text-lighten-2">I Am Your Father</h5>

          <p class="light yellow-text text-lighten-4"> Ewok Aunt Beru a new hope jawa that's no moon, it's a space station. Tatooine pick up some power converters it's a trap Greedo I'd just as soon kiss a wookiee spice mines. Wretched hive of scum and villainy scoundrel Chewbacca. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text text-darken-3"><i class="mdi-social-public"></i></h2>
          <h5 class="center yellow-text text-lighten-2">The Force is Strong With This One</h5>

          <p class="light yellow-text text-lighten-4">More powerful than you can possibly imagine the Force star destroyer ice planet Hoth. I find your lack of faith disturbing Master Yoda star systems. Nerf-herder do or do not thermal detonator tie fighter don't get cocky.</p>
        </div>
      </div>
    </div>

    </div>
    <br><br>

  </div>

