// body {
//   background: url("bg-9.jpg") #00D repeat-y fixed;
// }
body { 
  // background: url("friendly-background.jpg") no-repeat 0px 50px;
  background: image-url("handtweet.jpg") #00D repeat-y fixed;
  // background: url("friendly-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // background-size: contain;
}

// .tweet-cards {
//   min-height: 500px auto;
// }