body { 
  background: image-url("handtweet.jpg") repeat-y fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// fadein 
.homeInfo {
  opacity: 0;
}

.flash-success{
  background-color: rgb(19, 129, 76);
}

.saved-searches {
  background: black;
  opacity: .7;
}

.saved-search-item {
  opacity: 0;
}
.nav-item {
  width: 30px;
}

.hidden {
  display: none;
}

.chart {
  background-color: white;
}

#landing-background {
  background: white;
  z-index: 1;
}

.display-cards {
  min-height: 245px;
}

#logo {
  font-family: 'Permanent Marker', cursive;
}

.card-foot{
  position:absolute; 
  bottom:0;
}

#profile-pic {
  margin-top: 6px;
  border: solid 2px white;
  border-radius: 15px;
}

.user-header {
  margin-top: 25px;
}

.landing-quote {
  font-family: 'Nunito', sans-serif;
}

#quote-block {
  border-radius: 25px;
}