body { 
  background: image-url("handtweet.jpg") repeat-y fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.display-cards {
  min-height: 245px;
}

.card-foot{
  position:absolute; 
  bottom:0;
}

